.modal-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 30rem;
    border-radius: 1rem;
    opacity: .5;
}

.modal-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: .14rem;
    color: #ddd;
    margin-top: 2rem;
}

.modal-source, .modal-date{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #bbb;
}

.modal-content-text{
    font-size: 1.6rem;
    line-height: 2.7;
    margin-top: 2rem;
    color: #ddd;
}

.read-more-link{
    width: 15rem;
    display: inline-block;
    background-image: linear-gradient(to right, #b88efc, #6877f4);
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 5rem;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: transform  .2s ease-in-out
}

.read-more-link:active{
    transform: translateY(.1rem);
}